.servicos__titulo {
    background: var(--cor-secundaria);
    padding: 0.5rem 0;
    color: var(--hover);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.servicos__container {
    display: flex;
    margin: 0.5rem 0.8rem;
    padding: 0.5rem 0;
}

.container__descricao {    
    text-align: center;
    padding: 1rem 0;
    width: 60vw;

}

.container__descricao-titulo {
    font-size: 1.3rem;
}

.servicos__img {
    width: 25%;
}

.servicos-texto {
    margin: 1rem 0.8rem;
    text-align: justify;
}